@{
    ViewData["Title"] = "About Us";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>

<p style="text-align:center">Here at E-Books we offer a tremendous gathering of books in the various classifications of Fiction, Non-fiction, Biographies, Self – Help, and Children to name a few. E-Books also allows users to be able to create an account where they can then add all types of books into their cart. With a safe and secure purchasing process you can be rest assured that E-Books devotes itself to giving you an amazing customer experience!

We modestly welcome every one of the merchants around the nation to band together with us. We will without a doubt give you the best quality books at an affordable price! Feel free to visit one of our pages down below to gain a better view of our business.
</p>
<div class="container" style="text-align:center; font-size:35px; word-spacing: 10px; color:black">
    <a href="https://instagram.com//" onclick="return fbs_click()" target="_blank"><i class="fa-brands fa-instagram" style="color:black"></i></a>
    <a href="https://facebook.com//" onclick="return fbs_click()" target="_blank"><i class="fa-brands fa-facebook" style="color:black"></i></a>
    <a href="https://youtube.com//" onclick="return fbs_click()" target="_blank"><i class="fa-brands fa-youtube" style="color:black"></i></a>
    <a href="https://twitter.com" onclick="return fbs_click()" target="_blank"><i class="fa-brands fa-twitter" style="color:black"></i></a>
    <a href="https://linkedin.com//" onclick="return fbs_click()" target="_blank"><i class="fa-brands fa-linkedin" style="color:black"></i></a>
</div>